body {
    background-image: url("assets/bg.png");
    font-family: 'Crimson Pro', serif;
    font-size: 1.2em;
    height: 100vh;
    
}
body h1 {
    font-size: 2em;
}

#root{
    height: 100%;
    min-width: 300px;
}