body {
    /* background-image: url("assets/bg.png"); */
    font-family: 'Crimson Pro', serif;
    font-size: 1.2em;
}
body h1 {
    font-size: 2em;
}
hr{
    height: 3px !important;
}

#root{
    height: 100%;
    min-width: 300px;
}